<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="ALL"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>INVITE > PARTY PEOPLE</title>
    <meta name="Description" content="인천시 다양한 모임에 맞는(회식/데이트/동호회) AI추천 모임장소에 대한 나만의 초대카드를 만들어보세요."/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0.1,maximum-scale=5.0,user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" >
    <link rel="stylesheet" type="text/css" href="../css/layout.css" >
    <link rel="stylesheet" type="text/css" href="../css/card.css" >
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3fa5806dfe291fb3622cf85fca14b017&libraries=services,clusterer,drawing"></script>
    <script src="../js/jquery.js"></script>
    <!--구글 차트 관련 스크립트-->
    <script src="//kit.fontawesome.com/56b5cc4bd2.js" crossorigin="anonymous"></script><!-- 폰트어썸(아이콘 폰트) 사용 인증된 링크 -->
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
</head>
<body>
<div class="container invite">
    <!-- 모달 레이어 : 모임카드 미리보기 상세페이지 정보 -->
    <div class="modal_layer_wrap">
        <div class="layer_bg"></div>
        <div class="layer_box">
            <a href="#" class="close_layer"><i class="fa-solid fa-xmark"></i></a>
            <div class="layer_contents" th:insert="~{insert/place_info}"></div>
        </div>
    </div>
    <!-- ####### 01. HEADER START ####### -->
    <div class="header_wrap" th:insert="~{insert/header_wrap}"></div>
    <!-- ####### 01. HEADER END ####### -->
    <hr class="skip"/>
    <!-- ####### 02. LNB START ######### -->
    <div class="lnb_wrap" th:insert="~{insert/lnb_wrap}"></div>



    <!-- #### 02-2 좌측 on/off 페이지 서브 메뉴 노출 끝 -->
    <!-- ####### 02. LNB END ########## -->
    <hr class="skip"/>
    <!-- ####### 03. CONTENTS START ####### -->
    <section class="contents_wrap">

        <!-- ########  페이지마다의 고정 서비스 내용이(예, 지도나 모임카드 수정) 들어갑니다. ########### -->
        <div class="left_contents">
            <div class="left_contents_padding_left"></div>
            <div class="left_contents_center">
                <form>
                    <div class="card_list_wrap">
                        <!-- 추천(조합) 모임카드 #.01 시작 -->
                        <dl class="ai_card design">
                            <dt class="header">
                                <h2>
                                    <label>
                                        <b>제 목</b><input type="text" placeholder="원하시는 모임명을 적어주세요." id="" value="동인천/차이나타운/짜파게티/회식">
                                    </label>
                                </h2>
                                <div class="form_info"><!-- 연관 키워드 10개 -->
                                    <div class="date">
                                        <label><b>모임날짜</b><input type="date" value="2023-08-21"></label>
                                        <label><b>모임시간</b><input type="text"></label>
                                        <label><b>참가인원</b><input type="text"> </label>
                                    </div>
                                    <div class="memo"><label><b>모임내용</b><textarea class="card_memo" placeholder="모임에 대한 상세내용을 적어 주세요."></textarea></label></div>
                                    <div class="skin"><b>카드스킨</b>
                                        <label><input type="radio" value="a_type" checked> A_type</label>
                                        <label><input type="radio" value="b_type"> B_type</label>
                                        <label><input type="radio" value="c_type"> C_type</label>
                                        <label><input type="radio" value="d_type"> D_type</label>
                                        <label><input type="radio" value="e_type"> E_type</label>
                                    </div>
                                </div>
                            </dt>
                            <div class="card_map_wrap"><div id="map"></div></div>
                            <script th:inline="javascript">
                                /* 지도 관련 스크립트*/

                                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                    mapOption = {
                                        /* 전국 지도*/
                                        // center: new kakao.maps.LatLng(36.01683146793617, 129.42603381793853), // 지도의 중심좌표
                                        // level: 13 // 지도의 확대 레벨

                                        /* 인천으로만 타겟을 줄인 지도*/
                                        center: new kakao.maps.LatLng(37.45139514881181, 126.74155431191699), // 지도의 중심좌표
                                        level: 8 // 지도의 확대 레벨
                                    };
                                // 지도를 생성합니다
                                var map = new kakao.maps.Map(mapContainer, mapOption);
                            </script>

                            <dd class="body">
                                <!-- 대안 장소 선택_01: 업체 리스트 -->


                                <div class="card_list" th:each="place : ${category2}">

                                    <ul class="summary_card">
                                        <li class="subject">
                                            <input type="checkbox" checked>
                                            <b th:text="${place.getTitle()}">돈비어천가</b>
                                            <span class="category"><b class="depth_1"  th:text="${place.getCategory()}">음식</b><b class="depth_2"  th:text="${place.getSmallCategory()}">한식</b></span>
                                        </li>


                                        <li class="thumb"><img th:src="${place.getImageAdd1()}" alt="돈비어천가"></li>

                                        <li th:each="p:${place.viewList()}" th:if="p !=null"  th:text="${p}"></li>
<!--                                        <li class="addr" th:if="${place.getAddress() != null}"  th:text="${place.getAddress()}">인천 중구 개항로 63-2</li>-->
<!--                                        <li class="work_time"  th:if="${place.getRestDayInfo() != null}" th:text="${place.getRestDayInfo()}">10:00~22:00브레이크타임없음</li>-->
<!--&lt;!&ndash;                                        <span>(쉬는날 : 연중무휴)</span>&ndash;&gt;-->
<!--                                        <li class="parking"  th:text="${place.getParkingInfo()}">주차시설 : 있음,유료</li>-->
<!--                                        <li class="tel"  th:text="${place.getTel()}">032-930-1234-->
<!--                                            <a href="#" class="place_info_layer">상세정보</a>-->
<!--                                        </li>-->
                                    </ul>
                                </div>
                                <!-- 대안 장소 선택_02: 업체 리스트 -->

<!--                                <div class="card_list">-->
<!--                                    <ul class="summary_card">-->
<!--                                        <li class="subject">-->
<!--                                            <input type="checkbox" checked>-->
<!--                                            <b>신포국제시장1</b>-->
<!--                                            <span class="category"><b class="depth_1">쇼핑</b><b class="depth_2">전통시장</b></span>-->
<!--                                        </li>-->
<!--                                        <li class="thumb"><img src="https://dbscthumb-phinf.pstatic.net/4904_000_1/20170512140138758_Y0ECXXYI5.jpg/fb63_81_i3.jpg?type=m4500_4500_fst" alt="신포국제시장"></li>-->
<!--                                        <li class="addr">인천 중구 송현로59번길 5</li>-->
<!--                                        <li class="work_time">10:00~21:00<br>지원센터 09:00~18:00<span class="holyday">(쉬는날 : 매월 첫 주 월요일, 설·추석 당일 / 지원센터 주말 <br>(점포마다 상이함))</span></li>-->
<!--                                        <li class="parking">주차시설 : 있음,무료</li>-->
<!--                                        <li class="tel">032-930-0000-->
<!--                                            <a href="#" class="place_info_layer">상세정보</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; 대안 장소 선택_03: 업체 리스트 &ndash;&gt;-->
<!--                                <div class="card_list">-->
<!--                                    <ul class="summary_card">-->
<!--                                        <li class="subject">-->
<!--                                            <input type="checkbox" checked>-->
<!--                                            <b>신파시장</b>-->
<!--                                            <span class="category"><b class="depth_1">쇼핑</b><b class="depth_2">전통시장</b></span>-->
<!--                                        </li>-->
<!--                                        <li class="thumb"><img src="http://imgnews.naver.net/image/003/2014/09/26/NISI20140926_0010170270_web_99_20140926192103.jpg" alt="신파시장"></li>-->
<!--                                        <li class="addr">인천 중구 송현로59번길 5</li>-->
<!--                                        <li class="work_time">10:00~21:00<br>지원센터 09:00~18:00<span class="holyday">(쉬는날 : 매월 첫 주 월요일, 설·추석 당일 / 지원센터 주말 <br>(점포마다 상이함))</span></li>-->
<!--                                        <li class="parking">주차시설 : 있음,무료</li>-->
<!--                                        <li class="tel">032-930-1589-->
<!--                                            <a href="#" class="place_info_layer">상세정보</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
                            </dd>
                            <dd class="footer">
                                <h3><button class="confirm"><i class="fa-solid fa-arrow-up-right-from-square"></i> 모임카드 미리보기</button>
                                    원하시는 모임내용을 작성해주세요. <br>모임카드는 미리보기 후, 카드이미지(JPG) 다운로드 가능합니다.
                                </h3>
                                <!--                            <button class="confirm"><i class="fa-regular fa-circle-down"></i> 모임카드 다운로드</button>-->
                            </dd>
                        </dl>
                        <!-- 추천(조합) 모임카드 #.01 끝 -->
                    </div>
                </form>
            </div>
            <div class="left_contents_padding_right"></div>
        </div>
        <!-- #### 03-1.우측 본문 영역 시작 -->
        <div class="right_contents area">
            <div class="page_title">
                <h1>모임카드 디자인<!-- ## 페이지 타이틀 ##  좌측 메뉴 .active 되어 있는 메뉴명 제이쿼리 클론하여 가져옴 --> </h1>
                <!-- ## 페이지 네비 경로 ## -->
                <span class="page_path"><!-- 페이지 네비게이션 제이쿼리 액티브 메뉴 복사 --></span>
            </div>
            <div class="paging">
                <a href="#" class="btn_first"></a>
                <a href="#" class="btn_prev"></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="btn_next"></a>
                <a href="#" class="btn_last"></a>
            </div>
            <form>
                <div class="card_list_wrap">
                    <!-- 추천(조합) 모임카드 #.01 시작 -->
                    <dl class="ai_card_skin">
                        <dt class="header">

                        </dt>
                        <dd class="body">

                        </dd>
                        <dd class="footer">

                        </dd>
                    </dl>
                    <!-- 추천(조합) 모임카드 #.01 끝 -->
                </div>
            </form>
        </div>
        <!-- #### 03-1.우측 본문 영역 끝 -->
    </section>
    <!-- ####### 03. CONTENTS END ####### -->
    <hr class="skip"/>
    <!-- ####### 04. FOOTER START ####### -->
    <div class="footer_wrap" th:insert="~{insert/footer_wrap}">
        <!-- ####### 04. FOOTER END ####### -->
    </div>
</body>
</html>