<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="party.people.repository.mainCard.MainCardMapper">




    <!-- 전체 검색 -->
    <select id="load" resultType="mainCard">
        select *
        from main_result
        where category=#{category}
    </select>




</mapper>
