<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>패스워드 찾기 결과 </h2>
    </div>

<!--    <form action="findIdResult.html" th:action th:object="#{member}" method="post">-->
        <div>
            <label for="clientId">회원 ID</label>
            <input type="text" class="form-control" readonly id="clientId" th:field="${client.clientId}" value="김나무">
        </div>
        <div>
            <label for="clientEmail">회원 이메일</label>
            <input type="email" class="form-control" readonly id="clientEmail" th:field="${client.clientEmail}" value="namu">
        </div>

        <div>
            <label for="password">패스워드</label>
            <input type="text" class="form-control" readonly id="password" th:field="${client.password}" value="namu">
        </div>

        <hr class="my-4">

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='login.html'"
                    th:onclick="|location.href='@{/login}'|"
                    type="button">로그인창으로</button>
        </div>
</div>>
</div> <!-- /container -->
</body>
</html>