<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/ck2.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error {
            margin-left: 5px;
            text-align: left;
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- SIGN UP -->

        <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
                <div class="form sign-up">
                    <form th:action="${join}" th:object="${client}" method="post">
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="로그인 ID">
                    </div>
                    <div class="input-group">
                        <i class='bx bx-mail-send'></i>
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" placeholder="Confirm password">
                    </div>
                    <button type="submit">
                        회원가입
                    </button>
                    <p>
              <span>
                이미 계정이 있으신가요?
              </span>
                        <b onclick="toggle()" class="pointer">
                            로그인
                        </b>
                    </p>
                    </form>
                </div>
            </div>

        </div>
        <!-- END SIGN UP -->
        <!-- 로그인 -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <div class="form sign-in">
                    <form action="/findPw" th:action th:object="${findPwForm}" method="post">

                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" th:field="*{clientId}" placeholder="아이디">
                        <div class="field-error" th:errors="*{clientId}" />
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" th:field="*{clientEmail}" placeholder="이메일">
                        <div class="field-error" th:errors="*{clientEmail}" />
                    </div>

                    <button type="submit">
                        비밀번호 찾기
                    </button>
                    <p>
                    <button th:onclick="|location.href='@{/client/login}'|"
                            type="button">
                            돌아가기
                    </button>

                    <p>
                        <b th:onclick="|location.href='@{/client/findId}'|" class="pointer">
                            아이디를 잊어버리셨나요?
                        </b>
                    </p>
                    <p>
              <span>
                아직 계정이 없으신가요?
              </span>
                    <b th:onclick="|location.href='@{/client/join}'|" class="pointer">회원가입은 여기!</b>
<!--                        <b th:href="@{/client/join}" class="pointer">-->
<!--&lt;!&ndash;                        <b onclick="toggle()" class="pointer">&ndash;&gt;-->
<!--                            회원가입은 여기!-->
<!--                        </b>-->
                    </p>
                    </form>
                </div>
            </div>
            <div class="form-wrapper">

            </div>
        </div>
        <!-- END 로그인 -->
    </div>
    <!-- END FORM SECTION -->
    <!-- CONTENT SECTION -->
    <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <h2 style="text-align: left">
                    아이디와 이메일로 <br> 비밀번호를 찾아드립니다
                </h2>

            </div>
            <div class="img sign-in">

            </div>
        </div>
        <!-- END SIGN IN CONTENT -->
        <!-- SIGN UP CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="img sign-up">

            </div>
            <div class="text sign-up">
                <h2>
                    Let's party with us
                </h2>

            </div>
        </div>
        <!-- END SIGN UP CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
</div>
<script>
let container = document.getElementById('container')

toggle = () => {
container.classList.toggle('sign-in')
container.classList.toggle('sign-up')
}

setTimeout(() => {
container.classList.add('sign-in')
}, 100)
</script>
</body>
</html>