
    <div class="view_wrap">
        <div class="view_top_buttons">
            <div class="view">
                <div class="view_header veiw-header_intro">
                    <h1 class="subject">
                        <span  th:text="${place.getTitle()}">&nbsp;월미테마파크</span>
                    </h1>
                    <div class="location">
                        <ul class="list">
                            <li>
                                <strong class="title" >&nbsp;주소</strong>
                                <span class="text"  th:text="${place.getAddress}">인천광역시 중구 월미문화로 81</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag">
                    <strong th:text="${place.keyWord5()}">데이트/동인천/차이나타운/동인천/차이나타운</strong>

<!--                    <a href="" >&nbsp;#관광지</a>-->
<!--                    <a href="">#인스타</a>-->
<!--                    <a href="">#인천_놀만한_곳</a>-->
<!--                    <a href="">#바이킹</a>-->
<!--                    <a href="">#디스코팡팡</a>-->
                </div>
                <div class="photos">
                    <div class="list slick-initialized slick-slider">
                        <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style>
                        </button>
                        <div class="slick-list">
                            <div class="slick-track" role="listbox" >
                            <div class="item slick-slide slick-cloned" data-slick-index="-1" id aria-hidden="true" tabindex="-1" style="width: 820px;">
                                <img src="https://www.popco.net/zboard/data/photo_gallery/2019/02/16/15472229255c67db103d441.jpg"
                                     th:src="${place.getImageAdd1}"
                                     style="max-height: 500px; width: auto;"      alt="월미테마파크">
                        </div>
                            <div class="item slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slider01" style="width: 820px;">
                            </div>
                        </div>
<!--                        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style>-->
<!--                        </button>-->
                    </div>

                    <div id="intro" class="section">
                        <h2><i class="fa-solid fa-mountain-city"></i>&nbsp;<span th:text="|${place.getCategory()}|">관광</span><h3 class="blind">&nbsp;체험관광</h3>

                        <div id="guide" class="section">
                            <h3 class="h3">&nbsp;이용정보</h3>
                            <table class="table">

                                <colgroup>
                                    <col style="width: 230px;">
                                    <col>
                                </colgroup>
                                <tbody>
<!--                                <tr>-->
<!--                                    <td  th:text="${place.getTitle()}">평일 10:00~21:00, 주말 및 공휴일 10:00-23:00<br>차미패밀리파크<br>평일 10:00~19:00, 주말 및 공휴일 10:00-21:00</td>-->
<!--                                </tr>-->

                                <li th:each="p:${place.viewAllList()}" th:if="p !=null"  th:text="${p}"></li>

<!--                                <tr>-->
<!--                                    <th scope="row">쉬는 날</th>-->
<!--                                    <td  th:text="${place.getTitle()}">연중무휴</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th scope="row">전화번호</th>-->
<!--                                    <td  th:text="${place.getTitle()}">032-761-0997</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th scope="row">이용요금</th>-->
<!--                                    <td>30,000원<br>자피패밀리파크 10,000원</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th scope="row">주차시설</th>-->
<!--                                    <td>주차 가능, 무료</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th scope="row">애완동물 동반가능</th>-->
<!--                                    <td>가능(단, 소형견(7kg 미만)만 가능하며 개목줄 착용, 배설물 처리를 위한 비닐봉지 등을 구비한 이용객에 한하여 허용)</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th scope="row">외국어안내서비스</th>-->
<!--                                    <td>영어 회화 가능 직원 있음</td>-->
<!--                                </tr>a-->

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>