<div class="header_wrap">
        <header>
            <h1 class="logo"><a href="/">Party People</a></h1>
        </header>
        <!--        <nav class="gnb">-->
        <!--            <ul>-->
        <!--                <li><a href="place">Place</a></li>-->
        <!--                <li><a href="culture">Culture</a></li>-->
        <!--                <li><a href="invite">Invite</a></li>-->
        <!--                <li><a href="analysis">Analysis</a></li>-->
        <!--            </ul>-->
        <!--        </nav>-->
        <form>
            <div class="page_search">
                <input type="text" placeholder="[인천] 장소, 상호명 검색" autofocus><!--
                 --><input type="submit" value="" class="fa fa-search">
            </div>
            <dl class="search_keword"> <!-- 최다 빈도수 키워드 10개만 나오게 해주세요 -->
                <dt><a href="#">AI추천 키워드</a></dt>
                <dd><a href="#">부평맛집</a></dd>
                <dd><a href="#">회식장소</a></dd>
                <dd><a href="#">쏘맥</a></dd>
                <dd><a href="#">마라탕</a></dd>
                <dd><a href="#">스크린골프</a></dd>
                <dd><a href="#">데이트코스</a></dd>
                <dd><a href="#">월미도바이킹</a></dd>
                <dd><a href="#">점심메뉴</a></dd>
                <dd><a href="#">8000원</a></dd>
            </dl>
        </form>
    </div>