<div class="lnb_wrap">
    <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 시작 -->
    <dl class="fixed_quick_menu">
        <!--        <dt title="Party Peaple(인천)"><i class="fa-solid fa-map-location-dot"></i>인천</dt>-->
        <dd class="active"><a href="place"><i class="fa-solid fa-map-location-dot"></i> Place</a></dd>
        <dd><a href="culture"><i class="fa-regular fa-compass"></i> Culture</a></dd>
        <dd><a href="invite"><i class="fa-solid fa-people-group"></i> Invite</a></dd>
        <dd><a href="analysis"><i class="fa-solid fa-chart-line"></i> Analysis</a></dd>
    </dl>
    <ul class="membership">
        <li><a href="client/login"><i class="fa-solid fa-right-to-bracket"></i> 로그인</a></li>
        <li><a href="client/join"><i class="fa-solid fa-user-plus"></i> 회원가입</a></li>
    </ul>
    <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 끝 -->
    <hr class="skip"/>
    <!-- #### 02-2. 좌측 on/off 페이지 서브 메뉴 노출 시작 -->
    <script>
        $(function(){
            // 업종별 대메뉴 활성화(class="active") 메뉴버튼 처리
            $("nav ul li:nth-child(1) a").addClass("active");
            // 사용자가 선택한 메뉴 활성화(class="active")에 따른 페이지 메뉴명 제이쿼리 변경 처리
            $(".fixed_quick_menu dd.active a").clone().prependTo(".lnb h2");
            $(".sub_menu_list li a.active").clone().prependTo(".right_contents h1");
            // $(".right_contents h1 span").appendTo("분석");
            // 페이지 네비게이션 경로 처리
            $(".fixed_quick_menu dd.active a").clone().appendTo(".page_path");
            $(".sub_menu_list li a.active span").clone().appendTo(".page_path");
            $(".right_contents.area ul.summary_card input[type=checkbox]").attr(disabled);
            // 체크 박스 비활성화
            //$(".right_contents.area ul.summary_card input[type=checkbox]").prop("disabled",true);

        });
    </script>
    <div class="lnb">
        <!-- 02-2-1. 대시보드 집계 그래프 노출 영역 시작 -->
        <h2> <div class="standard_cond">Ai추천 모임장소를 확인 후, <br>나만의 초대카드를 만들어보세요.</div></h2>
        <!-- 02-2-1.대시보드 집계 그래프 노출 영역 끝 -->
        <!-- 02-2-2.페이지 컨텐츠 서브 메뉴 노출 시작 -->
        <ul class="sub_menu_list area">
            <li><a href="#" onclick="('전체')" class="active"><i class="fa-solid fa-map-location-dot"></i> <span>전체</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('연수구')"><i class="fa-solid fa-location-dot"></i> <span>연수구</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('남동구')"><i class="fa-solid fa-map-pin"></i> <span>남동구</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('부평구')"><i class="fa-solid fa-location-arrow"></i> <span>부평구</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('계양구')"><i class="fa-regular fa-compass"></i> <span>계양구</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('서구')"><i class="fa-solid fa-location-crosshairs"></i> <span>서구</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('동구')"><i class="fa-solid fa-map-location-dot"></i> <span>동구</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('중구')"><i class="fa-solid fa-bookmark"></i> <span>중구</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('미추홀구')"><i class="fa-solid fa-route"></i> <span>미추홀구</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('강화군')"><i class="fa-solid fa-circle-info"></i> <span>강화군</span><b class="num">18,562</b></a></li>
            <li><a href="#" onclick="('옹진군')"><i class="fa-solid fa-tags"></i> <span>옹진군</span><b class="num">18,562</b></a></li>
        </ul>
    </div>

    <!-- #### 02-2 좌측 on/off 페이지 서브 메뉴 노출 끝 -->
</div>