<div class="lnb_wrap">
    <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 시작 -->
    <dl class="fixed_quick_menu">
        <dt title="Party People(인천)"> 인천시</dt>
        <dd class="active"><a href="/"><i class="fa-solid fa-house"></i> Home</a></dd>
        <dd><a href="/place"><i class="fa-solid fa-map-location-dot"></i> Place</a></dd>
        <dd><a href="/invite"><i class="fa-solid fa-people-group"></i> Invite</a></dd>
        <dd><a href="/analysis"><i class="fa-solid fa-chart-line"></i> Analysis</a></dd>
<!--        <dd class="myPage"><a href="/client/myPage"><i class="fa-solid fa-user-gear"></i> My page</a></dd>-->
    </dl>
    <ul class="membership">
        <li><a href="/client/login" onclick="('로그인')"><i class="fa-solid fa-right-to-bracket"></i> 로그인</a></li>
        <li><a href="/client/join" onclick="('회원가입')"><i class="fa-solid fa-user-plus"></i> 회원가입</a></li>
    </ul>
    <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 끝 -->
</div>