<div class="lnb_wrap">
    <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 시작 -->
    <dl class="fixed_quick_menu">
        <dt title="Party People(인천)"> 인천시</dt>
        <dd class="active"><a href="/"><i class="fa-solid fa-house"></i> Home</a></dd>
        <dd><a href="/place"><i class="fa-solid fa-map-location-dot"></i> Place</a></dd>
        <dd><a href="/invite"><i class="fa-solid fa-people-group"></i> Invite</a></dd>
        <dd><a href="/analysis"><i class="fa-solid fa-chart-line"></i> Analysis</a></dd>
        <dd class="myCard"><a href="/client/myCard"><i class="fa-solid fa-user-gear"></i> My-Card</a></dd>
    </dl>
    <ul class="membership">
        <li><a href="/client/logout" onclick="('로그아웃')"><i class="fa-solid fa-right-to-bracket"></i> 로그아웃</a></li>
        <li><a href="/client/myInfo" onclick="('내 페이지')"><i class="fa-solid fa-user-plus"></i> 내 정보수정</a></li>
    </ul>
    <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 끝 -->
</div>