<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="party.people.repository.place.PlaceMapper">



    <!-- 전체 검색 -->
    <select id="findAll" resultType="place">
        select id, 카테고리 as category, 소분류 as smallcategory, 제목 as title,
               주소 as address, 전화번호 as tel, 위도 as latitude, 경도 as longitude,
               애완동물동반가능정보 as petInfo, 주차시설 as parkingInfo, 쉬는날 as restDayInfo,
               영업시간 as runTimeInfo, 이용요금 as feeInfo, 화장실설명 as toiletInfo,
               외국어안내서비스 as languageInfo, 사고보험가입여부 as insuranceInfo,
               판매품목 as salesItemInfo, 편의시설 as amenityInfo, 대표메뉴 as menuInfo,
               포장가능여부 as wrapInfo, 입실시간 as checkinInfo, 퇴실시간 as checkoutInfo,
               부대시설 as otherAmenityInfo, 키워드리스트 as keyword,
               이미지주소1 as imageAdd1, 이미지주소2 as imageAdd2
        from placeinfo order by id
    </select>

    <!-- 카테고리로 검색 -->
    <select id="findByCategory" resultType="place">
        select id, 카테고리 as category, 소분류 as smallcategory, 제목 as title,
               주소 as address, 전화번호 as tel, 위도 as latitude, 경도 as longitude,
               애완동물동반가능정보 as petInfo, 주차시설 as parkingInfo, 쉬는날 as restDayInfo,
               영업시간 as runTimeInfo, 이용요금 as feeInfo, 화장실설명 as toiletInfo,
               외국어안내서비스 as languageInfo, 사고보험가입여부 as insuranceInfo,
               판매품목 as salesItemInfo, 편의시설 as amenityInfo, 대표메뉴 as menuInfo,
               포장가능여부 as wrapInfo, 입실시간 as checkinInfo, 퇴실시간 as checkoutInfo,
               부대시설 as otherAmenityInfo, 키워드리스트 as keyword,
               이미지주소1 as imageAdd1, 이미지주소2 as imageAdd2
        from placeinfo
        where 카테고리 =#{category}
    </select>

    <!-- 상호명으로 검색 -->
    <select id="findByTitle" resultType="place">
        select id, 카테고리 as category, 소분류 as smallcategory, 제목 as title,
               주소 as address, 전화번호 as tel, 위도 as latitude, 경도 as longitude,
               애완동물동반가능정보 as petInfo, 주차시설 as parkingInfo, 쉬는날 as restDayInfo,
               영업시간 as runTimeInfo, 이용요금 as feeInfo, 화장실설명 as toiletInfo,
               외국어안내서비스 as languageInfo, 사고보험가입여부 as insuranceInfo,
               판매품목 as salesItemInfo, 편의시설 as amenityInfo, 대표메뉴 as menuInfo,
               포장가능여부 as wrapInfo, 입실시간 as checkinInfo, 퇴실시간 as checkoutInfo,
               부대시설 as otherAmenityInfo, 키워드리스트 as keyword,
               이미지주소1 as imageAdd1, 이미지주소2 as imageAdd2
        from placeinfo
        where 제목 = #{title}
    </select>

    <!-- 키워드로 검색 -->
    <select id="findByKeyword" resultType="place">
        select id, 카테고리 as category, 소분류 as smallcategory, 제목 as title,
               주소 as address, 전화번호 as tel, 위도 as latitude, 경도 as longitude,
               애완동물동반가능정보 as petInfo, 주차시설 as parkingInfo, 쉬는날 as restDayInfo,
               영업시간 as runTimeInfo, 이용요금 as feeInfo, 화장실설명 as toiletInfo,
               외국어안내서비스 as languageInfo, 사고보험가입여부 as insuranceInfo,
               판매품목 as salesItemInfo, 편의시설 as amenityInfo, 대표메뉴 as menuInfo,
               포장가능여부 as wrapInfo, 입실시간 as checkinInfo, 퇴실시간 as checkoutInfo,
               부대시설 as otherAmenityInfo, 키워드리스트 as keyword,
               이미지주소1 as imageAdd1, 이미지주소2 as imageAdd2
        from placeinfo
        where
            <foreach collection="keywords" item="keyword" separator=" AND ">
            키워드리스트 like '%'||#{keyword}||'%'
            </foreach>
    </select>

    <!-- 주소로 검색 ex) 부평구 -->
    <select id="findByAddress" resultType="place">
        select id, 카테고리 as category, 소분류 as smallcategory, 제목 as title,
               주소 as address, 전화번호 as tel, 위도 as latitude, 경도 as longitude,
               애완동물동반가능정보 as petInfo, 주차시설 as parkingInfo, 쉬는날 as restDayInfo,
               영업시간 as runTimeInfo, 이용요금 as feeInfo, 화장실설명 as toiletInfo,
               외국어안내서비스 as languageInfo, 사고보험가입여부 as insuranceInfo,
               판매품목 as salesItemInfo, 편의시설 as amenityInfo, 대표메뉴 as menuInfo,
               포장가능여부 as wrapInfo, 입실시간 as checkinInfo, 퇴실시간 as checkoutInfo,
               부대시설 as otherAmenityInfo, 키워드리스트 as keyword,
               이미지주소1 as imageAdd1, 이미지주소2 as imageAdd2
        from placeinfo
        where 주소 like '%'||#{address}||'%'
    </select>

    <!-- 내 정보 수정 -->
    <update id="updateKeyword">
        update placeinfo
        set 키워드리스트=#{keyword}
        where 제목 = #{title}
    </update>

    <select id="randon3" resultType="place">
        SELECT id, 카테고리 as category, 소분류 as smallcategory, 제목 as title,
               주소 as address, 전화번호 as tel, 위도 as latitude, 경도 as longitude,
               애완동물동반가능정보 as petInfo, 주차시설 as parkingInfo, 쉬는날 as restDayInfo,
               영업시간 as runTimeInfo, 이용요금 as feeInfo, 화장실설명 as toiletInfo,
               외국어안내서비스 as languageInfo, 사고보험가입여부 as insuranceInfo,
               판매품목 as salesItemInfo, 편의시설 as amenityInfo, 대표메뉴 as menuInfo,
               포장가능여부 as wrapInfo, 입실시간 as checkinInfo, 퇴실시간 as checkoutInfo,
               부대시설 as otherAmenityInfo, 키워드리스트 as keyword,
               이미지주소1 as imageAdd1, 이미지주소2 as imageAdd2
        FROM placeinfo
                 SAMPLE(0.5)
    </select>

    <select id="idSearch" resultType="place">
        SELECT id, 카테고리 as category, 소분류 as smallcategory, 제목 as title,
               주소 as address, 전화번호 as tel, 위도 as latitude, 경도 as longitude,
               애완동물동반가능정보 as petInfo, 주차시설 as parkingInfo, 쉬는날 as restDayInfo,
               영업시간 as runTimeInfo, 이용요금 as feeInfo, 화장실설명 as toiletInfo,
               외국어안내서비스 as languageInfo, 사고보험가입여부 as insuranceInfo,
               판매품목 as salesItemInfo, 편의시설 as amenityInfo, 대표메뉴 as menuInfo,
               포장가능여부 as wrapInfo, 입실시간 as checkinInfo, 퇴실시간 as checkoutInfo,
               부대시설 as otherAmenityInfo, 키워드리스트 as keyword,
               이미지주소1 as imageAdd1, 이미지주소2 as imageAdd2
        FROM placeinfo
        where id = #{id}

    </select>



</mapper>
