<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="ALL"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>PLACE > PARTY PEOPLE</title>
    <meta name="Description" content="인천광역시 소재의 다양한 모임취향에 맞는(회식/데이트/동호회) AI추천 모임장소에 대한 상세정보를 제공합니다."/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0.1,maximum-scale=5.0,user-scalable=yes" />
<!--    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="../css/ck.css" th:href="@{/css/ck.css}">
    <link rel="stylesheet" type="text/css" href="../css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../css/layout.css" th:href="@{/css/layout.css}">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <!--구글 차트 관련 스크립트-->
    <script src="//kit.fontawesome.com/56b5cc4bd2.js" crossorigin="anonymous"></script><!-- 폰트어썸(아이콘 폰트) 사용 인증된 링크 -->
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
    <style>

        /*.client-container {
            max-width: 560px;
            margin-left: 280px;
        }*/

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 장소(업체명)에 대한 상페정보 페이지 -->
    <div class="modal_layer_wrap">
        <div class="layer_box"></div>
    </div>
    <!-- ####### 01. HEADER START ####### -->
    <div class="header_wrap">
        <header>
            <h1 class="logo"><a href="/">Party People</a></h1>
        </header>
<!--        <nav class="gnb">-->
<!--            <ul>-->
<!--                <li><a href="place">Place</a></li>-->
<!--                <li><a href="culture">Culture</a></li>-->
<!--                <li><a href="invite">Invite</a></li>-->
<!--                <li><a href="analysis">Analysis</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
        <form>
            <div class="page_search">
                <input type="text" placeholder="[인천] 장소, 상호명 검색" style="width:248.14px;"><!--
                 --><input type="submit" value="" class="fa fa-search">
            </div>
            <dl class="search_keword"> <!-- 최다 빈도수 키워드 10개만 나오게 해주세요 -->
                <dt><a href="#">AI추천 키워드</a></dt>
                <dd><a href="#">부평맛집</a></dd>
                <dd><a href="#">회식장소</a></dd>
                <dd><a href="#">쏘맥</a></dd>
                <dd><a href="#">마라탕</a></dd>
                <dd><a href="#">스크린골프</a></dd>
                <dd><a href="#">데이트코스</a></dd>
                <dd><a href="#">월미도바이킹</a></dd>
                <dd><a href="#">점심메뉴</a></dd>
                <dd><a href="#">8000원</a></dd>
            </dl>
        </form>
    </div>
    <!-- ####### 01. HEADER END ####### -->
    <hr class="skip"/>
    <!-- ####### 02. LNB START ######### -->
    <div class="lnb_wrap">
        <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 시작 -->
        <dl class="fixed_quick_menu">
<!--        <dt title="Party Peaple(인천)"><i class="fa-solid fa-map-location-dot"></i>인천</dt>-->
            <dd class="active"><a href="place"><i class="fa-solid fa-map-location-dot"></i> Place</a></dd>
            <dd><a href="culture"><i class="fa-regular fa-compass"></i> Culture</a></dd>
            <dd><a href="invite"><i class="fa-solid fa-people-group"></i> Invite</a></dd>
            <dd><a href="analysis"><i class="fa-solid fa-chart-line"></i> Analysis</a></dd>
        </dl>
        <ul class="membership">
            <li><a href="#" onclick="('로그인')"><i class="fa-solid fa-right-to-bracket"></i> 로그인</a></li>
            <li><a href="#" onclick="('회원가입')"><i class="fa-solid fa-user-plus"></i> 회원가입</a></li>
        </ul>
        <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 끝 -->
        <hr class="skip"/>
        <!-- #### 02-2. 좌측 on/off 페이지 서브 메뉴 노출 시작 -->
        <script>
            $(function(){
                // 업종별 대메뉴 활성화(class="active") 메뉴버튼 처리
                $("nav ul li:nth-child(1) a").addClass("active");
                // 사용자가 선택한 메뉴 활성화(class="active")에 따른 페이지 메뉴명 제이쿼리 변경 처리
                $(".fixed_quick_menu dd.active a").clone().prependTo(".lnb h2");
                $(".sub_menu_list li a.active").clone().prependTo(".right_contents h1");
                // $(".right_contents h1 span").appendTo("분석");
                // 페이지 네비게이션 경로 처리
                $(".fixed_quick_menu dd.active a").clone().appendTo(".page_path");
                $(".sub_menu_list li a.active span").clone().appendTo(".page_path");
                $(".right_contents.area ul.summary_card input[type=checkbox]").attr(disabled);
                // 체크 박스 비활성화
                //$(".right_contents.area ul.summary_card input[type=checkbox]").prop("disabled",true);

            });
        </script>
        <div class="lnb">
            <!-- 02-2-1. 대시보드 집계 그래프 노출 영역 시작 -->
            <h2> <div class="standard_cond">Ai추천 모임장소를 확인 후, <br>나만의 모임초대카드를 만들어보세요.</div></h2>
            <!-- 02-2-1.대시보드 집계 그래프 노출 영역 끝 -->
            <!-- 02-2-2.페이지 컨텐츠 서브 메뉴 노출 시작 -->
            <ul class="sub_menu_list area">
                <li><a href="#" onclick="('전체')" class="active"><i class="fa-solid fa-map-location-dot"></i> <span>전체</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('연수구')"><i class="fa-solid fa-location-dot"></i> <span>연수구</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('남동구')"><i class="fa-solid fa-map-pin"></i> <span>남동구</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('부평구')"><i class="fa-solid fa-location-arrow"></i> <span>부평구</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('계양구')"><i class="fa-regular fa-compass"></i> <span>계양구</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('서구')"><i class="fa-solid fa-location-crosshairs"></i> <span>서구</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('동구')"><i class="fa-solid fa-map-location-dot"></i> <span>동구</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('중구')"><i class="fa-solid fa-bookmark"></i> <span>중구</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('미추홀구')"><i class="fa-solid fa-route"></i> <span>미추홀구</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('강화군')"><i class="fa-solid fa-circle-info"></i> <span>강화군</span><b class="num">18,562</b></a></li>
                <li><a href="#" onclick="('옹진군')"><i class="fa-solid fa-tags"></i> <span>옹진군</span><b class="num">18,562</b></a></li>
            </ul>
        </div>

        <!-- #### 02-2 좌측 on/off 페이지 서브 메뉴 노출 끝 -->
    </div>
    <!-- ####### 02. LNB END ########## -->
    <hr class="skip"/>
    <!-- ####### 03. CONTENTS START ####### -->
    <section class="contents_wrap">
        <!-- ########  페이지마다의 고정 서비스 내용이(예, 지도나 모임카드 수정) 들어갑니다. ########### -->
        <div class="left_contents">
            <!-- 회원가입 추가 삽입 부 -->
            <div class="client-container">

                <div class="py-5 text-center">
                    <h2>회원 가입</h2>
                </div>

                <h4 class="mb-3">회원 정보 입력</h4>

                <form action="" th:action th:object="${client}" method="post">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.hasGlobalErrors()}" th:text="${err}">전체 오류 메시지</p>
                    </div>

                    <div>
                        <label for="clientId">로그인 ID</label>
                        <input type="text"  th:field="*{clientId}" th:errorclass="field-error" class="form-control">
                        <div class="field-error" th:errors="*{clientId}"></div>
                    </div>
                    <div>
                        <label for="password">비밀번호</label>
                        <!-- 변경 -->
                        <input type="password" th:field="*{password}" th:errorclass="field-error" class="form-control">
                        <div class="field-error" th:errors="*{password}"></div>
                    </div>
                    <div>
                        <label for="password2">비밀번호 확인</label>
                        <!-- 변경 -->
                        <input type="password" th:field="*{password2}" th:errorclass="field-error" class="form-control">
                        <div class="field-error" th:errors="*{password2}"></div>
                    </div>
                    <div>
                        <label for="clientEmail">이메일</label>
                        <!-- 변경 -->
                        <input type="text" th:field="*{clientEmail}" th:errorclass="field-error" class="form-control">
                        <div class="field-error" th:errors="*{clientEmail}"></div>
                    </div>


                    <div>
                        <label>관심 장소</label>
                        <br>
                        <!-- 변경 -->
                        <div th:each="item, iterStat : ${regionCheckbox}" style="display: inline; margin-left: 50px;" >
                            <label th:for="${#strings.concat('checkbox', item)}" style="width: 90px;" >
                                <input type="checkbox" th:id="${#strings.concat('checkbox', item)}" th:name="selectedItems" th:value="${item}">
                                <span th:text="${item}"></span>
                            </label>
                            <!-- 각 행의 끝에 <br> 태그를 추가 -->
                            <span th:if="${iterStat.count % 3 == 0}"><br></span>
                        </div>
                    </div>

                    <div>
                        <label>관심 분야</label>
                        <br>
                        <!-- 변경 -->
                        <div th:each="item, iterStat : ${interestCheckbox}" style="display: inline; margin-left: 50px;" >
                            <label th:for="${#strings.concat('checkbox', item)}" style="width: 90px;" >
                                <input type="checkbox" th:id="${#strings.concat('checkbox', item)}" th:name="selectedItems" th:value="${item}">
                                <span th:text="${item}"></span>
                            </label>
                            <!-- 각 행의 끝에 <br> 태그를 추가 -->
                            <span th:if="${iterStat.count % 3 == 0}"><br></span>
                        </div>
                    </div>


                    <hr class="my-4">

                    <div class="row">
                        <div class="col">
                            <button class="btn_join w-100"><span>회원가입</span></button>
<!--                            <button class="w-100 btn btn-primary btn-lg" type="submit" style="background-color: #009900; border-color: #009900">회원 가입</button>-->
                        </div>
                        <div class="col">
                            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'"
                                    th:onclick="|location.href='@{/}'|"
                                    type="button">취소</button>
                        </div>
                    </div>

                </form>

            </div> <!-- /container -->

        </div>


    </section>
    <!-- ####### 03. CONTENTS END ####### -->
    <hr class="skip"/>
    <!-- ####### 04. FOOTER START ####### -->
    <div class="footer_wrap">
        <footer>
            <p class="copyright">  © 2023 TEAM PARTY PEOPLE. <a href="#">맨위로 <i class="fa-solid fa-arrow-up"></i></a></p>
        </footer>
    </div>
    <!-- ####### 04. FOOTER END ####### -->
</div>
</body>
</html>